.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  text-decoration: none;
}

a{
  text-decoration: none;
}

.footer-bg{
  background-color: #10454F;
}

h1{
font-family: 'Open Sans', sans-serif;
}

h2{
  font-family: 'Open Sans', sans-serif;
}

h3{
  font-family: 'Open Sans', sans-serif;
}

h4{
  font-family: 'Open Sans', sans-serif;
}

h5{
  font-family: 'Open Sans', sans-serif;
}

h6{
  font-family: 'Open Sans', sans-serif;
}

.productsFont{
  font-size: 25px
}


/* HOME.JSX-------------------- */
.bg-image{
  max-width:100%;
max-height:100%;
}

.productsDiv{
  margin: 5%;
}

p{
  line-height: 0.7;
}

/* ------------------------------------ */





@media (max-width: 450px) {
  h4{
    font-size: 16px
  }

  h5{
    font-size: 16px
  }

  p{
    font-size: 15px;
    line-height: 1;
  }

  .productsFont{
    font-size: 14px
  }

  .productsPara{
    font-size: 12px;
  }
}
